.buttonGrp {
    display: flex;
    margin-bottom: 30px;

    @media (max-width: 768px) {
       
            flex-direction: column;
        
           
        
    }

   
}

.fadeIn{
    opacity:1;
    width:100px;
    height:100px;
    transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;

}


